In [9]:
# importar librerias
import pandas as pd
import requests
import json

# Pregunta 1

In [88]:
# obtenemos el total de pokemon de 'count'
r = requests.get('https://pokeapi.co/api/v2/pokemon/').json()
count = r["count"]

In [89]:
# obtenemos todos los pokemon
r = requests.get(f'https://pokeapi.co/api/v2/pokemon/?limit={count}').json()

In [91]:
# generamos dataframe con los pokemon y sus nombres
df = pd.DataFrame(r['results'])

In [103]:
# filtramos por el criterio de la pregunta 1
df_filtered = df[(df.name.str.contains('at')) & (df.name.str.count('a') == 2)]
df_filtered.head()

                      name                                       url
19                raticate     https://pokeapi.co/api/v2/pokemon/20/
159             feraligatr    https://pokeapi.co/api/v2/pokemon/160/
379                 latias    https://pokeapi.co/api/v2/pokemon/380/
484                heatran    https://pokeapi.co/api/v2/pokemon/485/
503                 patrat    https://pokeapi.co/api/v2/pokemon/504/
641    thundurus-incarnate    https://pokeapi.co/api/v2/pokemon/642/
682             aromatisse    https://pokeapi.co/api/v2/pokemon/683/
725               torracat    https://pokeapi.co/api/v2/pokemon/726/
855                hatenna    https://pokeapi.co/api/v2/pokemon/856/
898          deoxys-attack  https://pokeapi.co/api/v2/pokemon/10001/
904        giratina-origin  https://pokeapi.co/api/v2/pokemon/10007/
960            latios-mega  https://pokeapi.co/api/v2/pokemon/10063/
1013  greninja-battle-bond  https://pokeapi.co/api/v2/pokemon/10116/
1109        hatterene-gmax  https://pokeapi.co/api/v2/pokemon/10212/

In [106]:
# obtenemos el resultado de la pregunta 1
df_filtered.count()[0]

14

# Pregunta 2

In [180]:
# Creamos un dataframe con todos los pokemones y sus egg groups
pokemon = 'raichu'
count = requests.get('https://pokeapi.co/api/v2/egg-group/').json()['count']

df_egg_groups = pd.DataFrame()
for i in range(1, count+1):
    r = requests.get(f'https://pokeapi.co/api/v2/egg-group/{i}').json()
    df_aux = pd.DataFrame(r['pokemon_species'])
    df_aux['group'] = r['name']
    df_egg_groups = df_egg_groups.append(df_aux, ignore_index = True)

df_egg_groups.head()

         name                                           url    group
0   bulbasaur  https://pokeapi.co/api/v2/pokemon-species/1/  monster
1     ivysaur  https://pokeapi.co/api/v2/pokemon-species/2/  monster
2    venusaur  https://pokeapi.co/api/v2/pokemon-species/3/  monster
3  charmander  https://pokeapi.co/api/v2/pokemon-species/4/  monster
4  charmeleon  https://pokeapi.co/api/v2/pokemon-species/5/  monster

In [181]:
# Filtramos por pokemones segun si comparten un grupo con el pokemon buscado (raichu)
aux = df_egg_groups.loc[df_egg_groups['name'].str.lower() == pokemon, ['group']]
df_egg = df_egg_groups[df_egg_groups['group'].isin(aux['group'].values)]

# eliminamos duplicados si hay (interesa solo los nombres, nos deshacemos de las otras columnas por practicalidad)
df_egg = df_egg.drop(columns=['group', 'url'])
df_egg = df_egg.drop_duplicates()
df_egg.head()

         name
308   rattata
309  raticate
310     ekans
311     arbok
312   pikachu

In [182]:
# Contamos las filas, es decir, todas las especies que pueden procrear con raichu
# Resultado
df_egg.count()[0]

258

# Pregunta 3